{% extends 'base.html.twig' %}

{% block title %}Drug index{% endblock %}

{% block body %}
    <h1>Liste des médicaments</h1>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for drug in drugs %}
            <tr>
                <td>{{ drug.id }}</td>
                <td>{{ drug.name }}</td>
                <td>{{ drug.description }}</td>
                <td>
                    <a class = "btn btn-info" href="{{ path('drug_show', {'id': drug.id}) }}">Afficher</a>
                    <a class = "btn btn-warning" href="{{ path('drug_edit', {'id': drug.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-success" href="{{ path('drug_new') }}">Ajouter</a>
{% endblock %}
